__pycache__
.cache
dataset-cache/laion-high-resolution/._dataset-cache_laion-high-resolution_laion___parquet_laion--laion-high-resolution-73d7f2053bb6f2a2_0.0.0_2a3b91fbd88a2c90d1dbbb32b460cf621d31bd5b05b934492fdef7d8d6f236ec.lock
