[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jax = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
optax = "*"
transformers = "*"
datasets = "*"
diffusers = "*"
flax = "*"
wandb = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
